img {
  width: auto;
max-height: 256px;
}

h1 {
  color: pink;
  background-color: #12dd99
}

p {
  background-color: blue
}

main {
  color: lightblue;
  background-color: navy
}

footer {
  background-color: red;
}

/* Requirements
red by default
yellow on hover
green on visited */

a {
 color: #ff0000;
}

a:visited {
 color: #00ff00;
}

a:hover {
 color: #ffff00;
}


#thisClass {
  color: #8210E1;
  background-color: #FCFFC2;
}

.thisId {
  color: lime;
  background-color: brown;
}

.thisSpan{
  font-weight: bold;
  color: yellow;
}
